USE [COMERCIO_DB]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Documento] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Telefono] [varchar](50) NULL,
	[Direccion] [varchar](200) NULL,
	[Localidad] [varchar](100) NULL,
	[CondicionIVA] [varchar](50) NULL,
	[Habilitado] [bit] NOT NULL,
	[IdUsuarioAlta] [int] NOT NULL,
	[Observaciones] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRA_LINEAS]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA_LINEAS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRAS]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
	[Cancelada] [bit] NOT NULL,
	[MotivoCancelacion] [nvarchar](500) NULL,
	[FechaCancelacion] [datetime] NULL,
	[IdUsuarioCancelacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_VENTA]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_VENTA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCAS]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCAS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS_PROVEEDOR]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS_PROVEEDOR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaEmision] [datetime] NOT NULL,
	[TotalEstimado] [decimal](18, 2) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[SubtotalBruto] [decimal](18, 2) NOT NULL,
	[DescuentoPorcentaje] [decimal](5, 2) NOT NULL,
	[DescuentoMonto] [decimal](18, 2) NOT NULL,
	[SubtotalNeto] [decimal](18, 2) NOT NULL,
	[MontoIVA] [decimal](18, 2) NOT NULL,
	[MontoIIBB] [decimal](18, 2) NOT NULL,
	[MontoPercepcion] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS_PROVEEDOR_DETALLE]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS_PROVEEDOR_DETALLE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdProductoProveedor] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRECIOS_COMPRA]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRECIOS_COMPRA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdProveedor] [int] NULL,
	[Precio] [money] NOT NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_PROVEEDOR]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_PROVEEDOR](
	[IdProducto] [int] NOT NULL,
	[IdProveedor] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTO_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC,
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoSKU] [varchar](50) NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[IdMarca] [int] NULL,
	[IdCategoria] [int] NOT NULL,
	[StockMinimo] [decimal](18, 2) NULL,
	[StockActual] [decimal](18, 2) NULL,
	[PorcentajeGanancia] [decimal](5, 2) NULL,
	[Activo] [bit] NOT NULL,
	[Habilitado] [bit] NOT NULL,
	[PrecioNeto] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PRODUCTOS_CodigoSKU] UNIQUE NONCLUSTERED 
(
	[CodigoSKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS_PROVEEDOR]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS_PROVEEDOR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[IdMarca] [int] NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Estado] [bit] NULL,
	[UnidadesPorPack] [int] NOT NULL,
	[PorcentajeDescuento] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[RazonSocial] [varchar](200) NOT NULL,
	[Documento] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Telefono] [varchar](50) NULL,
	[Direccion] [varchar](200) NULL,
	[Localidad] [varchar](100) NULL,
	[CondicionIVA] [varchar](50) NULL,
	[Activo] [bit] NOT NULL,
	[VendeConIVA] [bit] NOT NULL,
	[DescuentoHabitual] [decimal](5, 2) NOT NULL,
	[PorcentajeIVA] [decimal](5, 2) NOT NULL,
	[PorcentajeIIBB] [decimal](5, 2) NOT NULL,
	[PorcentajePercepcion] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_ROLES]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_ROLES](
	[IdUsuario] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Documento] [varchar](20) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Telefono] [varchar](50) NULL,
	[Direccion] [varchar](200) NULL,
	[Localidad] [varchar](100) NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
	[Observaciones] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 08/07/2026 17:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[NumeroFactura] [varchar](50) NULL,
	[NumeroNC] [varchar](50) NULL,
	[MetodoPago] [varchar](50) NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[MotivoCancelacion] [varchar](250) NULL,
	[FechaCancelacion] [datetime] NULL,
	[IdUsuarioCancelacion] [int] NULL,
	[Estado] [varchar](20) NULL,
	[TipoVenta] [varchar](20) NULL,
	[Descuento] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CATEGORIAS] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[CLIENTES] ADD  DEFAULT ((1)) FOR [Habilitado]
GO
ALTER TABLE [dbo].[COMPRAS] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[COMPRAS] ADD  DEFAULT ((0)) FOR [Cancelada]
GO
ALTER TABLE [dbo].[MARCAS] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PEDIDOS_PROVEEDOR] ADD  DEFAULT (getdate()) FOR [FechaEmision]
GO
ALTER TABLE [dbo].[PEDIDOS_PROVEEDOR] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[PEDIDOS_PROVEEDOR] ADD  DEFAULT ((0)) FOR [SubtotalBruto]
GO
ALTER TABLE [dbo].[PEDIDOS_PROVEEDOR] ADD  DEFAULT ((0)) FOR [DescuentoPorcentaje]
GO
ALTER TABLE [dbo].[PEDIDOS_PROVEEDOR] ADD  DEFAULT ((0)) FOR [DescuentoMonto]
GO
ALTER TABLE [dbo].[PEDIDOS_PROVEEDOR] ADD  DEFAULT ((0)) FOR [SubtotalNeto]
GO
ALTER TABLE [dbo].[PEDIDOS_PROVEEDOR] ADD  DEFAULT ((0)) FOR [MontoIVA]
GO
ALTER TABLE [dbo].[PEDIDOS_PROVEEDOR] ADD  DEFAULT ((0)) FOR [MontoIIBB]
GO
ALTER TABLE [dbo].[PEDIDOS_PROVEEDOR] ADD  DEFAULT ((0)) FOR [MontoPercepcion]
GO
ALTER TABLE [dbo].[PRECIOS_COMPRA] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  DEFAULT ((1)) FOR [Habilitado]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  DEFAULT ((0)) FOR [PrecioNeto]
GO
ALTER TABLE [dbo].[PRODUCTOS_PROVEEDOR] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[PRODUCTOS_PROVEEDOR] ADD  DEFAULT ((1)) FOR [UnidadesPorPack]
GO
ALTER TABLE [dbo].[PRODUCTOS_PROVEEDOR] ADD  DEFAULT ((0)) FOR [PorcentajeDescuento]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ((1)) FOR [VendeConIVA]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ((0)) FOR [DescuentoHabitual]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ((0)) FOR [PorcentajeIVA]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ((0)) FOR [PorcentajeIIBB]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ((0)) FOR [PorcentajePercepcion]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[VENTAS] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[VENTAS] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [dbo].[VENTAS] ADD  DEFAULT ('Final') FOR [TipoVenta]
GO
ALTER TABLE [dbo].[VENTAS] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD FOREIGN KEY([IdUsuarioAlta])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[COMPRA_LINEAS]  WITH CHECK ADD FOREIGN KEY([IdCompra])
REFERENCES [dbo].[COMPRAS] ([Id])
GO
ALTER TABLE [dbo].[COMPRA_LINEAS]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTOS] ([Id])
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[PROVEEDORES] ([Id])
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD FOREIGN KEY([IdUsuarioCancelacion])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VENTA_PRODUCTO] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTOS] ([Id])
GO
ALTER TABLE [dbo].[DETALLE_VENTA] CHECK CONSTRAINT [FK_DETALLE_VENTA_PRODUCTO]
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VENTA_VENTA] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[VENTAS] ([Id])
GO
ALTER TABLE [dbo].[DETALLE_VENTA] CHECK CONSTRAINT [FK_DETALLE_VENTA_VENTA]
GO
ALTER TABLE [dbo].[PEDIDOS_PROVEEDOR]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[PROVEEDORES] ([Id])
GO
ALTER TABLE [dbo].[PEDIDOS_PROVEEDOR]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[PEDIDOS_PROVEEDOR_DETALLE]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[PEDIDOS_PROVEEDOR] ([Id])
GO
ALTER TABLE [dbo].[PEDIDOS_PROVEEDOR_DETALLE]  WITH CHECK ADD FOREIGN KEY([IdProductoProveedor])
REFERENCES [dbo].[PRODUCTOS_PROVEEDOR] ([Id])
GO
ALTER TABLE [dbo].[PRECIOS_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_PRECIOS_COMPRA_PRODUCTO] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTOS] ([Id])
GO
ALTER TABLE [dbo].[PRECIOS_COMPRA] CHECK CONSTRAINT [FK_PRECIOS_COMPRA_PRODUCTO]
GO
ALTER TABLE [dbo].[PRECIOS_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_PRECIOS_COMPRA_PROVEEDOR] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[PROVEEDORES] ([Id])
GO
ALTER TABLE [dbo].[PRECIOS_COMPRA] CHECK CONSTRAINT [FK_PRECIOS_COMPRA_PROVEEDOR]
GO
ALTER TABLE [dbo].[PRODUCTO_PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [FK_PP_PRODUCTO] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTOS] ([Id])
GO
ALTER TABLE [dbo].[PRODUCTO_PROVEEDOR] CHECK CONSTRAINT [FK_PP_PRODUCTO]
GO
ALTER TABLE [dbo].[PRODUCTO_PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [FK_PP_PROVEEDOR] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[PROVEEDORES] ([Id])
GO
ALTER TABLE [dbo].[PRODUCTO_PROVEEDOR] CHECK CONSTRAINT [FK_PP_PROVEEDOR]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_CATEGORIA] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CATEGORIAS] ([Id])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_CATEGORIA]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_MARCA] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[MARCAS] ([Id])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_MARCA]
GO
ALTER TABLE [dbo].[PRODUCTOS_PROVEEDOR]  WITH CHECK ADD FOREIGN KEY([IdMarca])
REFERENCES [dbo].[MARCAS] ([Id])
GO
ALTER TABLE [dbo].[PRODUCTOS_PROVEEDOR]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[PROVEEDORES] ([Id])
GO
ALTER TABLE [dbo].[USUARIO_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROLES_ROL] FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROLES] ([Id])
GO
ALTER TABLE [dbo].[USUARIO_ROLES] CHECK CONSTRAINT [FK_USUARIO_ROLES_ROL]
GO
ALTER TABLE [dbo].[USUARIO_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROLES_USUARIO] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[USUARIO_ROLES] CHECK CONSTRAINT [FK_USUARIO_ROLES_USUARIO]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_CLIENTE] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[CLIENTES] ([Id])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_CLIENTE]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_USUARIO] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_USUARIO]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_USUARIO_CANCEL] FOREIGN KEY([IdUsuarioCancelacion])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_USUARIO_CANCEL]
GO
